.App {
  text-align: center;
}

.input {
  padding: 14px 21px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-right: 10px;
  margin-bottom: 30px;
}

button {
  padding: 15px 20px;
  font-size: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
